<div id="landing" class="min-h-screen">
	<%= render 'pages/page', page: Current.tenant.pages.landing, hide_title: true %>
</div>
<% Current.tenant.pages.menu_pages.each do |page| %>
	<hr class="h-px bg-gray-200 border-0 dark:bg-gray-700 -mx-72">
	<div class="min-h-screen py-12" id="<%= page.slug %>">
		<%= render 'pages/page', page: page %>
	</div>
<% end %>
