<h1>Pages</h1>

<%= link_to "New Page", new_admin_page_path, class: "btn btn-primary my-4 float-right" %>
<br class="clear-both" />

<div class="overflow-x-auto relative shadow-md sm:rounded-lg">
    <table>
        <thead>
            <tr>
                <th scope="col" class="py-3 px-6">
                    Title
                </th>
                <th scope="col" class="py-3 px-6">
                    Menu
                </th>
                <th scope="col" class="py-3 px-6">
                    Featured
                </th>
                <th scope="col" class="py-3 px-6">
                    Slug
                </th>
                <th scope="col" class="py-3 px-6">
                    Site
                </th>
            </tr>
        </thead>
        <tbody data-controller="sortable" data-sortable-animation-value="150"
               data-sortable-resource-name-value="page"
               data-sortable-param-name-value="row_order_position"
               data-sortable-response-kind-value="turbo-stream" >
            <% @pages.each do |page| %>
              <%= render page %>
            <% end %>
        </tbody>
    </table>
</div>
