<div class="leading-normal tracking-normal text-white bg-gradient-to-r from-emerald-600 to-green-300 min-w-screen w-full min-h-screen pt-20">
	<div class="container mx-auto">
		<div class="bg-gradient-to-r from-emerald-600 to-green-300 text-white h-42">
			hero
		</div>
		<div>
			section 2
		</div>
	</div>
</div>