-# locals: (form: nil, fields:, multiple: false, options: {})

- Array(fields).each do |field|
  = form.file_field field.to_sym, multiple: multiple, **options

  .mb-1.font-semibold Attached:
  %ul.my-2
    - if form.object.send(field).attached?
      - if multiple
        - form.object.send(field).each do |file|
          %li= file.filename
      - else
        %li
          = form.object.send(field).filename
