<div id="<%= dom_id page %>">
	<% unless local_assigns[:hide_title] %>
		<h1><%= page.title %></h1>
	<% end %>
	<% page.galleries.each do |gallery| %>
		<%= render GalleryComponent.new(gallery: gallery) %>
	<% end %>
</div>
