<div id="<%= dom_id page %>">
  <% unless local_assigns[:hide_title] %>
    <h1><%= page.title %></h1>
  <% end %>
  <% page.contents.each do |content| %>
    <%= raw content.body %>
  <% end %>
</div>
