<h1>Editing media</h1>

<%= render "form", media: @media %>

<%= @media.source.html_safe %>
<br>

<div>
  <%= link_to "Show this media", admin_medias_path(@media) %> |
  <%= link_to "Back to medias", admin_medias_path %>
</div>
