<div class="min-h-screen text-center">
  <div class="border border-4 border-indigo-700 rounded-lg m-6 p-6 sm:m-9 lg:m-36 md:p-9">
    <h2>Your signup has already been cancelled</h2>

    <%= button_to "Undo my cancellation", burm_signup_path(@musical, @signup), method: :patch, params: { burm_signup: { cancelled: false } }, class: "mt-4 btn btn-success" %>
  </div>
</div>
