<div class="min-h-screen text-center">
  <div class="border border-4 border-indigo-700 rounded-lg m-6 p-6 sm:m-9 lg:m-36 md:p-9">
    <h2>Your signup has been cancelled</h2>

    <% if @musical.start_at > 7.days.from_now %>
      <p>Thank you for letting us know. We'll miss you!</p>
    <% else %>
      <p>Thank you for letting us know. We'll miss you!</p>
      <p>You have cancelled less than 7 days before the event. Unfortunately, we ask that you honour your commitment to pay for the fee.</p>
    <% end %>
    <%= button_to "Undo my cancellation", burm_signup_path(@musical, @signup), method: :patch, params: { burm_signup: { cancelled: false } }, class: "mt-4 btn btn-success" %>
  </div>
</div>
