<div class="min-h-screen">
  <div class="border border-4 border-indigo-700 rounded-lg m-6 p-6 sm:m-9 lg:m-36 md:p-9">
    <h1>Edit Your Sign Up to <span class="italic"><%= @musical.title %></span></h1>

    <div class="mb-2 font-semibold text-2xl">UnRehearsed on <%= @musical.date %></div>
    <div class="mb-4 font-semibold text-2xl"><%= @musical.time %></div>
    <%= render partial: "form", locals: { signup: @signup, musical: @musical } %>
  </div>
</div>
