<div class="min-h-screen">
  <div class="border border-4 border-indigo-700 rounded-lg text-center m-6 p-6 md:p-9">
    <h1><%= @musical.title %> Sign Up is Not Open</h1>

    <div class="font-semibold text-2xl">Sign Up opens at <%= @musical.signup_open_at %></div>

    <p class="mt-4">Please check back later. We look forward to singing with you.</p>
  </div>
</div>
