@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'League Spartan';
    src: url('leaguespartan-bold.eot');
    src: url('leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('leaguespartan-bold.woff2') format('woff2'),
         url('leaguespartan-bold.woff') format('woff'),
         url('leaguespartan-bold.ttf') format('truetype'),
         url('leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@layer base {
    h1 {
        @apply text-5xl font-bold;
    }
    h2 {
        @apply text-4xl font-bold;
    }
    h3 {
        @apply text-2xl font-bold;
    }
    h1, h2, h3, h4 {
        @apply mb-4 font-bold;
    }
    a {
        @apply hover:text-gray-500;
    }
    p {
        @apply mb-6;
    }
    table {
        @apply w-full text-sm text-left text-gray-500 dark:text-gray-400;
    }
    thead {
        @apply text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400;
    }
    tbody tr {
        @apply bg-white border-b dark:bg-gray-800 dark:border-gray-700;
    }
    ul {
        @apply list-square list-inside;
    }
    nav ul, .nav ul { @apply list-none list-outside; }
    .btn {
        @apply font-semibold text-sm py-2 px-4 rounded;
    }
    .btn.btn-primary {
        @apply bg-blue-500 hover:bg-blue-700 text-white;
    }
    .btn.btn-primary-xl {
        @apply bg-blue-500 hover:bg-blue-700 text-white text-2xl;
    }
    .hover-row {
        @apply hover:bg-gray-50 dark:hover:bg-gray-600;
    }
}

html {
    scroll-behavior: smooth;
}
