@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'League Spartan';
    src: url('leaguespartan-bold.eot');
    src: url('leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('leaguespartan-bold.woff2') format('woff2'),
         url('leaguespartan-bold.woff') format('woff'),
         url('leaguespartan-bold.ttf') format('truetype'),
         url('leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@layer base {
    h1 {
        @apply text-5xl font-bold;
    }
    h2 {
        @apply text-4xl font-bold;
    }
    h3 {
        @apply text-2xl font-bold;
    }
    h1, h2, h3, h4 {
        @apply mb-4 font-bold;
    }
    a {
        @apply text-indigo-600 hover:text-gray-500;
    }
    p {
        @apply mb-6;
    }
    table {
        @apply w-full text-sm text-left text-gray-500 dark:text-gray-400;
    }
    thead {
        @apply text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400;
    }
    tbody tr {
        @apply bg-white border-b dark:bg-gray-800 dark:border-gray-700;
    }
    ul {
        @apply list-square list-inside;
    }
    nav ul, .nav ul { @apply list-none list-outside; }
    .btn {
        @apply font-semibold text-sm py-2 px-4 rounded-lg;
    }
    .btn.btn-primary {
        @apply text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center;
    }
    .btn.btn-primary-xl {
        @apply text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg px-5 py-2.5 text-center text-2xl;
    }
    .btn.btn-danger {
        @apply text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center;
    }
    .btn.btn-success {
        @apply text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center;
    }
    .btn.btn-disabled {
        @apply text-white bg-blue-400 dark:bg-blue-500 cursor-not-allowed font-medium rounded-lg text-sm px-5 py-2.5 text-center;
    }
    .hover-row {
        @apply hover:bg-gray-50 dark:hover:bg-gray-600;
    }
}

html {
    scroll-behavior: smooth;
}
