<nav class="bg-white border-gray-100 pl-4 pr-1 py-2.5 dark:bg-gray-900 fixed w-full top-0 left-0 bg-gray-50 border-b dark:bg-gray-800 dark:border-gray-700 z-[99]">
  <div class="container flex flex-wrap justify-between items-center mx-auto">
    <%= link_to root_path, class: "transition ease-out duration-1000", "data-sidebar-component-target": "logo" do %>
       <% if @logo.is_a?(String) %>
          <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">
             <%= @logo %>
          </span>
       <% else %>
          <%= image_tag @logo %>
       <% end %>
     <% end %>

    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
    </button>

    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="flex flex-col p-4 mt-4 bg-gray-50 rounded-lg border border-gray-100 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-gray-50 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <% @menu_items.each do |item| %>
          <li>
            <%= link_to item[0], item[1], class: "#{menu_classes} #{params[:id] == item[0]&.parameterize ? active_menu_classes : non_active_menu_classes}", "aria-current"=>"page" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
