<div id="<%= dom_id account %>">
  <p>
    <strong>Name:</strong>
    <%= account.name %>
  </p>

  <p>
    <strong>Subdomain:</strong>
    <%= account.subdomain %>
  </p>

  <p>
    <strong>Domain:</strong>
    <%= account.domain %>
  </p>

</div>
